/*  */
.text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.25rem 0;
  border-radius: var(--border-radius-sm);

  &:hover {
    background-color: var(--color-bg-grey-hover);
  }
}

.arrowIcon {
  width: 0.875rem;
  height: 0.875rem;
  transition: all 0.2s;

  &.open {
    color: green;
    transform: rotateZ(90deg);
  }
}

/* team */
.teamName {
  cursor: pointer;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.teamIcon {
  width: 1.125rem;
  height: 1.125rem;
  color: #b869ff;
}

.navLinksList {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.navLink:link,
.navLink:visited {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.25rem;
  padding-left: 0.75rem;
  border-radius: var(--border-radius-sm);
  color: #555;
  font-weight: 500;
  transition: all 0.3s;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.navLink:hover,
.navLink:visited {
  color: #333;
  background-color: var(--color-bg-grey-hover);
}

.navLink:global(.active) {
  background-color: var(--color-bg-grey-active);
}
